:root {
  --colorPrimary: #4d7498;
  --colorWhite: #FFFFFFF0;
  --colorBlack: #666666;
  --colorGlyph: #666666;
  --headerHeight: 48px;
}

html, body {
  margin: 0;
  padding: 0;
}

button {
  font-size: inherit;
  will-change: background-color;
  transition: background-color .1s ease-in;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Tahoma', sans-serif;
  font-size: 16px;
  color: var(--colorBlack);
}

.tc {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
    background: var(--colorPrimary);
    color: var(--colorWhite);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    padding: 4px 16px;
    line-height: calc(var(--headerHeight) - 4px*2);
    vertical-align: middle;
    & h1 {
      margin: 0;
      font-size: 1.5em;
    }
  }
  &-content {
    width: 100%;
    max-width: 1024px;
    margin: var(--headerHeight) auto 0 auto;
    padding: 16px;
  }
  &-list {
    margin: 32px 0;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    & li {
      margin: 4px;
    }

    & h2 {
      margin: 8px;
      font-size: 1.2em;
      color: var(--colorPrimary);
      text-transform: uppercase;
    }
  }
  &-glyph {
    cursor: pointer;
    width: 128px;
    height: 100%;
    background: none;
    margin: none;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 8px;
    border-radius: 2px;
    color: var(--colorGlyph);
    font-size: .75em;
    line-height: 1.5em;
    &:disabled {
      color: color(var(--colorBlack) alpha(26%))
    }
    &:not(:disabled) {
      &:hover, &:focus {
        background-color: #9999991F
      }
      &:active {
        background-color: #9999993F
      }
    }
    & .tc-icon {
      font-size: 36px;
      margin-bottom: 8px;
    }
    &.is-selected {
      color: var(--colorPrimary);
    }
  }
  &-detail {
    &__cloak {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: color(var(--colorBlack) alpha(.4));
      will-change: opacity;
      transform: opacity .2s ease-in;
      opacity: 0;
      z-index: -1;
    }

    &__wrapper {
      z-index: 10;
      box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
      max-width: 1024px;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translateY(100%);
      will-change: transform;
      transition: transform .2s ease-in;
      background: var(--colorWhite);
      border-radius: 2px 2px 0 0;
      overflow: hidden;
    }

    &__header {
      display: flex;
      align-items: center;
      flex-direction: row;
      background-color: var(--colorPrimary);
      color: var(--colorWhite);
    }

    &__title {
      padding: 8px 32px;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      font-size: 1em;
      font-weight: 600;
      & .tc-icon {
        font-size: 28px;
        margin-right: 8px;
      }
    }
    
    &__close-handler button {
      width: 40px;
      height: 40px;
      font-size: 22px;
      vertical-align: middle;
      margin: 0 16px;
      background: none;
      border: 0;
      outline: none;
      color: inherit;
      border-radius: 50%;

      &:hover, &:focus {
        background: #9999991F;
      }

      &:active {
        background: #9999993F;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;
      padding: 16px 32px 24px 32px;
      & h3 {
        font-size: 1.1em;
      }
      & h3, & pre {
        margin: 0.5em 0;
      }
      & section {
        flex: 1 1 50%;
        padding: 0 8px;
      }
    }

    &.is-open &__cloak {
      z-index: 9;
      opacity: 1;
    }

    &.is-open &__wrapper {
      transform: none;
    }
  }
}
