:root {
  --colorPrimary: #4d7498;
  --colorWhite: #FFFFFFF0;
  --colorBlack: #666666;
  --colorGlyph: #666666;
  --headerHeight: 48px;
}

html, body {
  margin: 0;
  padding: 0;
}

button {
  font-size: inherit;
  will-change: background-color;
  transition: background-color .1s ease-in;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Tahoma', sans-serif;
  font-size: 16px;
  color: var(--colorBlack);
}

body.is-scrolled .tc-content__upper-handler {
  transform: none;
  opacity: 1;
}

.tc {
  &-cloak {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: color(var(--colorBlack) alpha(.4));
    will-change: opacity;
    transform: opacity .2s ease-in;
    opacity: 0;
    z-index: -1;
  }

  & .is-open &-cloak {
    z-index: 8;
    opacity: 1;
  }

  &-header {
    &__wrapper {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 0;
      user-select: none;
    }

    &__content {
      user-select: none;
      position: relative;
      height: var(--headerHeight);
      background: var(--colorPrimary);
      color: var(--colorWhite);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
      padding: 4px 16px;
      line-height: calc(var(--headerHeight) - 8px);
      z-index: 10;
      display: flex;
      flex-direction: row;
      align-items: center;

      & h1 {
        margin: 0;
        font-size: 1.5em;
      }
    }

    &__menu-handler {
      cursor: pointer;
      margin-right: 16px;
      position: relative;
      width: 28px;
      height: 28px;
      display: block;
      border: none;
      outline: none;
      background: none;
      user-select: none;

      & span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 4px;
        background-color: var(--colorWhite);

        &:before, &:after {
          content: ' ';
          background-color: var(--colorWhite);
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          transition: transform .15s ease-in, top .15s ease-in;
        }

        &:before {
          top: 10px;
        }

        &:after {
          top: -10px;
        }
      }
    }

    &.is-open &__menu {
      transform: none;
    }

    &.is-open &__menu-handler span {
      & {
        background: none;
      }

      &:before {
        top: 0;
        transform: rotateZ(45deg);
      }

      &:after {
        top: 0;
        transform: rotateZ(-45deg);
      }
    }

    &__menu {
      position: relative;
      padding: 8px;
      
      background: var(--colorWhite);
      z-index: 9;
      transition: transform .2s ease-in;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
      transform: translateY(-100%);
      
      list-style: none;
      margin: 0;

      &-item {
        margin: 4px;
      }
    }

    & a {
      padding: 8px;
      text-transform: uppercase;
      display: block;
      
      color: var(--colorPrimary);
      border-radius: 2px;
      font-size: .8em;
      cursor: pointer;
      text-decoration: none;
      outline: none;
      transition: 
        background-color .1s ease-in, 
        color .1s ease-in; 

      &:focus, &:hover, &.is-selected {
        background-color: var(--colorPrimary);
        color: var(--colorWhite);
      }
    }
  }
  &-content {
    width: 100%;
    max-width: 1024px;
    margin: calc(var(--headerHeight)) auto 0 auto;
    padding: 16px;

    &__upper-handler {
      & {
        transform: scale(0, 0);
        opacity: 0;
        transition: transform .15s ease-in, opacity .15s ease-in;
        z-index: 8;
        position: fixed;
        right: 16px;
        bottom: 16px;
      } 

      & button {
        position: relative;
        line-height: 28px;
        padding: 6px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background: var(--colorPrimary);
        outline: none;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
        transition: box-shadow .2s ease-in;

        &:before {
          content: ' ';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: inherit;
          background: color(var(--colorWhite) alpha(.3));
          opacity: 0;
          transition: opacity .2s ease-in;
        }

        & svg {
          fill: var(--colorWhite);
        }

        &:focus, &:hover{
          &:before {
            opacity: 1;
          }
        }

        &:active {
          box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
        }
      }
    }
    
  }
  &-list {
    margin: 32px 0;

    &:before {
      display: block; 
      content: ' '; 
      margin-top: -calc(var(--headerHeight) + 16px); 
      height: calc(var(--headerHeight) + 16px); 
      visibility: hidden;
    }

    & ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    & li {
      width: 33%;
      padding: 4px;
      z-index: 1;
      box-sizing: border-box;
    }

    & h2 {
      margin: 8px;
      font-size: 1.2em;
      color: var(--colorPrimary);
      text-transform: uppercase;
    }
  }
  &-glyph {
    cursor: pointer;
    max-width: 128px;
    width: 100%;
    height: 100%;
    background: none;
    margin: 0 auto;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 8px;
    border-radius: 2px;
    color: var(--colorGlyph);
    font-size: .75em;
    line-height: 1.5em;
    &:disabled {
      color: color(var(--colorBlack) alpha(26%))
    }
    &:not(:disabled) {
      &:hover, &:focus {
        background-color: #9999991F
      }
      &:active {
        background-color: #9999993F
      }
    }
    & .tc-icon {
      font-size: 36px;
      margin-bottom: 8px;
    }
    &.is-selected {
      color: var(--colorPrimary);
    }
  }
  &-detail {
    &.is-open .tc-cloak {
      z-index: 11;
    }

    &__wrapper {
      z-index: 12;
      box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
      max-width: 1024px;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translateY(100%);
      will-change: transform;
      transition: transform .2s ease-in;
      background: var(--colorWhite);
      border-radius: 2px 2px 0 0;
      overflow: hidden;
    }

    &__header {
      display: flex;
      align-items: center;
      flex-direction: row;
      background-color: var(--colorPrimary);
      color: var(--colorWhite);
    }

    &__title {
      padding: 8px;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      font-size: 1em;
      font-weight: 600;
      & .tc-icon {
        font-size: 28px;
        margin-right: 8px;
      }
    }
    
    &__close-handler button {
      width: 40px;
      height: 40px;
      font-size: 22px;
      vertical-align: middle;
      margin: 0;
      background: none;
      border: 0;
      outline: none;
      color: inherit;
      border-radius: 50%;

      &:hover, &:focus {
        background: #9999991F;
      }

      &:active {
        background: #9999993F;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: 8px;
      font-size: .8em;

      & h3 {
        font-size: 1.1em;
      }
      & h3, & pre {
        margin: 0.5em 0;
      }
      & section {
        flex: 1 1 50%;
        
      }
    }

    &.is-open &__wrapper {
      transform: none;
    }
  }
}

@media screen and (min-width:600px) {
  .tc {
    &-list {
      & li {
        width: calc(100% / 5);
      }
    }
  }
}

@media screen and (min-width:960px) {
  .tc {
    &-header {
      & .tc-cloak {
        display: none;
      }

      &__menu {
        height: var(--headerHeight);
        transform: none;
        box-shadow: none;
        background: #ededed;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-item {
          margin: 0 8px;

          & a {
            padding: 4px 8px;
            border-radius: 16px;
            border: var(--colorPrimary) 1px solid;
          }
        }
      }

      &__menu-handler {
        display: none;
      }
    }
    &-content {
      margin-top: calc(var(--headerHeight)*2); 
    }
    &-list {
      &:before {
        margin-top: -calc(var(--headerHeight)*2 + 16px); 
        height: calc(var(--headerHeight)*2 + 16px); 
      }
      & li {
        width: calc(100% / 7);
      }
    }
    &-detail {
      &__title {
        padding: 8px 32px;
      }

      &__close-handler {
        margin: 0 16px;
      }

      &__content {
        font-size: 1em;
        padding: 16px 32px 24px 32px;
        flex-direction: row;

        & section {
          padding: 0 8px;
        }
      }
    }
  }
}

@media screen and (min-width:1280px) {
  .tc {
    &-list {
      & li {
        width: calc(100% / 8);
      }
    }
  }
}